/* ============================= */
/* NAVBAR APPLE STYLE */
/* ============================= */

.privara-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  height: 72px;
  display: flex;
  align-items: center;

  background: rgba(10, 12, 20, 0.4);
  backdrop-filter: blur(8px);

  border-bottom: 1px solid rgba(255,255,255,0.04);

  transition: all 0.35s ease;
}

/* SCROLL */
.privara-navbar.scrolled {
  height: 58px;
  background: rgba(10, 12, 20, 0.75);
  backdrop-filter: blur(18px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.4);
}


/* ============================= */
/* CONTAINER */
/* ============================= */

.privara-navbar .container{
  display:flex;
  align-items:center;
}


/* ============================= */
/* LOGO */
/* ============================= */

.nav-logo {
  height: 38px;
  transition: all 0.3s ease;
}

.privara-navbar.scrolled .nav-logo {
  height: 30px;
}


/* ============================= */
/* TEXTO LOGO */
/* ============================= */

.brand-main {
  font-size: 1.5rem;
  font-weight: 800;

  background: linear-gradient(90deg,#ffffff,#bcd6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand-sub {
  font-size: 0.9rem;
  font-weight: 600;

  margin-left: 4px;

  background: linear-gradient(90deg,#00e0ff,#7f5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.privara-navbar.scrolled .brand-main {
  font-size: 1.2rem;
}

.privara-navbar.scrolled .brand-sub {
  font-size: 0.75rem;
}


/* ============================= */
/* LINKS */
/* ============================= */

.nav-link-custom {
  position: relative;
  color: #aab4c5 !important;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 18px;
}

.nav-link-custom:hover {
  color: white !important;
}

.nav-link-custom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;

  background: linear-gradient(90deg,#00e0ff,#7f5cff);
  transition: width 0.3s ease;
}

.nav-link-custom:hover::after {
  width: 100%;
}

.nav-link-active {
  color: white !important;
}

.nav-link-active::after {
  width: 100%;
}


/* ============================= */
/* BOTON CONTACTO */
/* ============================= */

.btn-contacto{
  margin-left:20px;

  background: linear-gradient(90deg,#00e0ff,#7f5cff);
  border:none;

  padding:7px 20px;
  border-radius:50px;

  font-size:0.85rem;
  font-weight:600;

  color:white;

  box-shadow:0 0 12px rgba(0,224,255,0.4);

  transition:all 0.3s ease;
}

.btn-contacto:hover{
  transform:translateY(-2px) scale(1.05);
}


/* ============================= */
/* FIX BODY */
/* ============================= */

body{
  padding-top:72px;
}