.contact-wrapper {
  background: #0F2F24;
  color: #E7EDE8;
  padding-top: 60px;
  padding-bottom: 80px;
}

.contact-title {
  font-size: 2rem;
  font-weight: 600;
}

.contact-sub {
  max-width: 500px;
  margin: 12px auto 30px;
  color: #C2CEC8;
}

.contact-form {
  max-width: 500px;
  margin: auto;
}

.btn-contact-submit {
  background: #D9E3DB;
  color: #0F2F24;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.btn-contact-submit:hover {
  background: white;
}
.contact-form-glass {
  background: rgba(255, 255, 255, 0.197); /* Como en la imagen 1 */
  padding: 40px;
  border-radius: 20px;
  color: #333; /* Texto oscuro para el formulario blanco */
}

.contact-form-glass input, .contact-form-glass textarea {
  border: 1px solid #eee;
  padding: 12px;
}